
main {
    padding-top: 3rem;
}

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.3) 10%, transparent), /* top of background stack, it reads from left to right*/
    url('images/freedom.jpg') left 10% top 20%/cover no-repeat border-box,
    #ff1b68 ; /* bottom of background stack, fallback color for background */

    /* background-image: linear-gradient( red, transparent); */
    /* background-image: radial-gradient(circle at top left, red, transparent); */
    /* background-image: url('./images/freedom.jpg');
    background-size: cover;
    background-position: left 10% top 40%;  /* crop 40% from top and 10% from left */
    /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */

    width: 100%;
    height: 70vh;
    padding: 0.3rem;
    position: relative;
}

#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0; 
    left: 5%;
}

#plans {
    margin-bottom: 1.3rem;
}

.plan-section-title {
    text-align: center;
    text-transform: uppercase;
    margin: 1.9rem auto;
    color: #2ddf5c; 
}

.plan-list {
    width:80%;
    margin:auto;
    text-align: center;
}

.plan {
    display: inline-block;
    background-color: #9df7ac;
    padding: 0.7rem 1rem;
    width: 30%;
    margin: 0.5rem;
    text-align: center;
    border-radius: 0.3rem;
    vertical-align: middle;
}

.plan:nth-child(2) {
    background-color: #07a731;
    color:white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan-annotation {
    background-color: white;
    color: #2ddf5c;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 1em auto;
    width: fit-content;
}

.plan-title {
    color: #07a731;
}

.plan-price {
    color: grey;
}

.plan-highlighted .plan-title {
    color: white;
}

.plan-highlighted .plan-price {
    color: black;
}

.plan > ul {
    margin: 0.5em auto;
    padding: 0.3rem;
    list-style: none;
}

.plan > ul > li {
    margin: 0.5rem 0;
}

#key-features {
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .plan-section-title {
    color:white;
    margin: 2rem;
}

.key-features-list {
    list-style: none;
}

.key-features-list-item {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin:1.9rem auto 0;
    vertical-align: top;
}

.key-features-image {
    width: 128px;
    height: 128px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #f8aec6;
    margin: 0 auto;
    padding: 1.3rem;
    /* overflow: hidden; */
}

.key-features-description {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    vertical-align: top;
}

