
main {
    padding-top: 3rem;
}

#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.3) 10%, transparent), /* top of background stack, it reads from left to right*/
                url('images/freedom.jpg') left 21% top 10%/cover no-repeat border-box,
                #ff1b68 ; /* bottom of background stack, fallback color for background */

    /* background-image: linear-gradient( red, transparent); */
    /* background-image: radial-gradient(circle at top left, red, transparent); */
    /* background-image: url('./images/freedom.jpg');
    background-size: cover;
    background-position: left 10% top 40%;  /* crop 40% from top and 10% from left */
    /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
    width: 100%;
    height: 93vh;
    padding: 0.3rem;
    position: relative;
}
 
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0; 
    left: 5%;
    font-size: 2rem;
}

@media (min-width: 40rem) {
    #product-overview {
        height: 80vh;
        background-position: 10% 20%;
    }
    #product-overview h1{
        font-size: 3rem;
    }
}

#plans {
    margin-bottom: 1.3rem;
}

.plan-section-title {
    text-align: center;
    text-transform: uppercase;
    margin: 1.9rem auto;
    color: #2ddf5c; 
}

.plan {
    display: block;
    background-color: #9df7ac;
    padding: 0.7rem 1rem;
    width: 100%;
    margin: 0.8rem 0;
    text-align: center;
    border-radius: 0.3rem;
}

.plan:nth-child(2) {
    background-color: #07a731;
    color:white;
}

@media (min-width:40rem){
    .plan{
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 13rem;
        max-width: 25rem;
    }

    .plan-list {
        width:100%;
        text-align: center;
    }

    .plan:nth-child(2){
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }    
}

.plan-annotation {
    background-color: white;
    color: #2ddf5c;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 1em auto;
    width: fit-content;
}

.plan-title {
    color: #07a731;
}

.plan-price {
    color: grey;
}

.plan-highlighted .plan-title {
    color: white;
}

.plan-highlighted .plan-price {
    color: black;
}

.plan > ul {
    margin: 0.5em auto;
    padding: 0.3rem;
    list-style: none;
}

.plan > ul > li {
    margin: 0.5rem 0;
}

#key-features {
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .plan-section-title {
    color:white;
    margin: 2rem;
}

.key-features-list {
    list-style: none;
    padding: 0;
}

.key-features-list-item {
    display: block;
    text-align: center;
    margin: auto;
}

.key-features-image {
    width: 128px;
    height: 128px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #f8aec6;
    margin: 0 auto;
    padding: 1.3rem;
    /* overflow: hidden; */
}

.key-features-description {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    vertical-align: top;
}

@media (min-width:40rem){
    .key-features-list-item {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin:1.9rem auto 0;
    }
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }
