main {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form {
    padding: 1rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.signup-form input:not([type='checkbox']),
.signup-form select {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    border-color: #2ddf5c;
    background-color: #d8f3df;
}

/* .signup-form input[type='checkbox'] {}  //different way of targeting checkbox */

.signup-form input[id*='terms'],
.signup-form input[type='checkbox'] + label {
    display: inline-block;
    width: auto;
}
 
.signup-form input[type='checkbox'] {
    border: 2px solid #ccc;
    background-color: white;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup-form input[type='checkbox']:checked {
    border-color: #13742d;
    background-color: #2ddf5c;
}

.signup-form button[type='submit'] {
    display: block;
    margin-top: 1rem;
}

.signup-form :invalid {
    border-color: red !important; 
    background-color: rgb(248, 175, 175) !important;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 25rem;
    }
}